<div class="container">
  <div class="page-header">
    <h1>Ember Enum</h1>
    <p class="lead">
      This addon provides a very simple abstraction to use enum attributes with ember data.
    </p>
  </div>
</div>
